@font-face {
    font-family: arc;
    src: url(image/ArchitectsDaughter-Regular.ttf);
}
@font-face {
    font-family: protos;
    src: url(image/Protos-D1nx.ttf);
}




html {
    height: 100%
}
body {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logo {
    display: block;
    height: 50px;
    text-align: center;
    background-color: none;
    font-size: 1em;
    text-transform: lowercase; color: rgb(70, 70, 70);
    
    
}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.multiple-borders {
    
   }

.details-image {
    width: 100vw;
    height: 70vw;
      
}
.details-title {
    display: block;
    background-color: rgb(0, 0, 0);
    font-size: x-large;
    text-transform: lowercase; color: rgb(255, 255, 255);
    font-family: protos;
    
}

.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 50vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
    
}
.thumbnails-item {
    
    border: solid 1px rgb(105, 103, 103);
    margin-top: 2vh;
    border-radius: 25%;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    
    
}
.thumbnails-anchor {
    text-decoration: none;
}


.thumbnails-image {
    width: 28vw;
    height: 28vw;    
    list-style: none;
    display: flex;
        
}

.thumbnails-title {
    display: block;
    text-align: center;
    background-color: none;
    text-transform: lowercase; color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' ;
    overflow: hidden;
    font-family: Protos;
    font-size: small;
}

@media (min-width: 560px){

    .main-class {
        flex-direction: row;
    }
    .details-title {
        display: block;
        background-color: rgb(0, 0, 0);
        font-size: x-large;
        text-transform: uppercase; color: rgb(255, 255, 255);
        font-family: protos;
        justify-content: flex-start;    
    }
    .logo {
        display: block;
        height: 0px;
        text-align: center;
        background-color: none;
        font-size: 1em;
        text-transform: uppercase; color: rgb(70, 70, 70);
    }
    .thumbnails-list {
        display: flex;
        overflow-y: scroll;
        list-style: none;
        padding-left: 0;    
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 97vh;
        justify-content: flex-start;
        margin-left: 25px;
        
    }
    .thumbnails-item {
        min-height: 20vw;
    }
    .thumbnails-image {
        border: 10px solid transparent;
        width: 14vw;
        height: 14vw;    
        list-style: none;
    }
   

    .thumbnails-title{
        height: 9vw;
    }
    .details-image {
        
        width: 70vw;
        height: 50vw;    
        
    }
    
}

@media (min-width: 1000px) {
    .main-class {
        flex-direction: row;
    }
    .details-title {
        margin-top: 25px;
        display: block;
        background-color: rgb(0, 0, 0);
        font-size: 50px;
        text-transform: uppercase; color: rgb(255, 255, 255);
        font-family: protos;
            
    }
    .details-image {
        
        width: 70vw;
        height: 60vw;    
        
    }
    .logo {
        margin-top: 40px;
        display: block;
        height: 0px;
        text-align: center;
        background-color: none;
        font-size: 15px;
        text-transform: uppercase; color: rgb(70, 70, 70);
        margin-left: 40px;
    }
    .thumbnails-list {
        display: flex;
        overflow-y: scroll;
        list-style: none;
        padding-left: 0;    
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 85vh;
        justify-content: flex-start;       
        
        
        
    }
    
    .thumbnails-item {
        min-height: 20vw;
    }
    .thumbnails-image {
        border: 10px solid transparent;
        width: 14vw;
        height: 14vw;    
        list-style: none;
    }
   

    .thumbnails-title{
        height: 15vw;
    }
    
    
}